### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchasedata_df = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players
* Found .unique online google search to make sure to find each unique player(Hints were also stated on Slack)

In [2]:
totalplayers = len(purchasedata_df["SN"].unique())
totalplayers_df = pd.DataFrame({"Total Players": [totalplayers]})
totalplayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
totalpurchase = purchasedata_df["Purchase ID"].count()
uniquepurchases = len(purchasedata_df["Item ID"].unique())
totalrevenue = purchasedata_df["Price"].sum()
averagecostper = totalrevenue / totalpurchase

#Creating the summary DataFrame using above values
Purchases_Analysis = pd.DataFrame({"Number of Unique Items" : [uniquepurchases],
                                 "Average Price" : [averagecostper],
                                 "Number of Purchases" : [totalpurchase],
                                 "Total Revenue" : [totalrevenue]})

Purchases_Analysis["Average Price"] = Purchases_Analysis["Average Price"].map("${:.2f}".format)
Purchases_Analysis["Total Revenue"] = Purchases_Analysis["Total Revenue"].map("${:.2f}".format)

#Running the Analysis
Purchases_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Defining the Variables
userdemo = purchasedata_df.loc[:, ["SN", "Gender", "Age"]]
user_df = pd.DataFrame(userdemo)

#Clearing the duplicates
Userlist= user_df.drop_duplicates()

#Create cleaned User Demographics and displaying them
gender_list = Userlist["Gender"].value_counts()
gender_percent = gender_list / totalplayers

genderdemo = pd.DataFrame({"Total Count" : gender_list, "% of Players" : gender_percent})
genderdemo["% of Players"] = genderdemo["% of Players"].map("{:.2f}".format)
genderdemo

                       Total Count % of Players
Male                           484         0.84
Female                          81         0.14
Other / Non-Disclosed           11         0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Set you variables
pag = purchasedata_df.groupby("Gender")
Gender_Purchase_count = pag["SN"].count()

Gender_Purchase = pag["Price"].sum()

#Finding Values for Dataframe
genderlist_total = Userlist["Gender"].value_counts()

GPA = Gender_Purchase / Gender_Purchase_count
GPAT = Gender_Purchase / genderlist_total

#Mapping and reformatting
pag_df = pd.DataFrame({"Purchase Count": Gender_Purchase_count, "Avg Purchase Price" : GPA,
                       "Avg Total Purchase per Person": GPAT, "Total Purchase Value" : Gender_Purchase})
pag_df["Avg Purchase Price"] = pag_df["Avg Purchase Price"].map("${:.2f}".format)
pag_df["Total Purchase Value"] = pag_df["Total Purchase Value"].map("${:,.2f}".format)
pag_df["Avg Total Purchase per Person"] = pag_df["Avg Total Purchase per Person"].map("${:.2f}".format)
pag_df

,Purchase Count,Avg Purchase Price,Avg Total Purchase per Person,Total Purchase Value
Gender,,,,
Female,113,$3.20,$4.47,$361.94
Male,652,$3.02,$4.07,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$4.56,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish the bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

agebins = pd.cut(Userlist["Age"], bins, labels = labels).value_counts()
agepercent = agebins / totalplayers * 100
agedemo= pd.DataFrame({"Total Count": agebins, "% of Players" : agepercent})
agedemo=agedemo.round(2)
agedemo.sort_index()

       Total Count  % of Players
<10             17          2.95
10-14           22          3.82
15-19          107         18.58
20-24          258         44.79
25-29           77         13.37
30-34           52          9.03
35-39           31          5.38
40+             12          2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Name your variables and binning
purchasedata_df["Age Group"] = pd.cut(purchasedata_df["Age"], bins, labels= labels)
PAA = purchasedata_df.groupby("Age Group")

# Find the total price per age group
PAA_Price = PAA["Price"].sum()
PAA_Count = PAA["SN"].count()
PAA_AvgCost = PAA_Price / PAA_Count
PAA_perPerson = PAA_Price / agebins
PAA_DF = pd.DataFrame({"Purchase Count": PAA_Count, "Avg Purchase Price": PAA_AvgCost, 
                       "Avg per Person": PAA_perPerson,"Total Purchase Price": PAA_Price})
PAA_DF["Avg Purchase Price"] = PAA_DF["Avg Purchase Price"].map("${:.2f}".format)
PAA_DF["Total Purchase Price"] = PAA_DF["Total Purchase Price"].map("${:,.2f}".format)
PAA_DF["Avg per Person"] = PAA_DF["Avg per Person"].map("${:,.2f}".format)
PAA_DF.sort_index()

       Purchase Count Avg Purchase Price Avg per Person Total Purchase Price
<10                23              $3.35          $4.54               $77.13
10-14              28              $2.96          $3.76               $82.78
15-19             136              $3.04          $3.86              $412.89
20-24             365              $3.05          $4.32            $1,114.06
25-29             101              $2.90          $3.81              $293.00
30-34              73              $2.93          $4.12              $214.00
35-39              41              $3.60          $4.76              $147.67
40+                13              $2.94          $3.19               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame